/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/public
/database
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
composer.lock
package-lock.json
package.json

